#book_title {
  margin-left: 20px;
  text-align: center;
  position: fixed;
  top: 60px;
  left: 10px;
}

#book_title > h2 {
  padding: 0px;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 2px;
}

body {
  font-family: 'Della Respira', Garamond, sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 20px;
}

p {
  padding: 0 20px 15px 0;
  font-family: 'Della Respira', Garamond, sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 2.7px;
  text-align: justify;
  text-indent: 30px;
}

h2 {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
}

h3 {
  font-size: 18px;
  padding: 8px 0;
  letter-spacing: 3px;
}

.note {
  border: 1px solid #08c;
  margin: 15px 50px 15px 30px;
  padding: 15px;
}

ul {
  list-style: circle;
  padding-left: 10px;
}

ol {
  padding-left: 15px;
}

li {
  padding: 5px 0px;
}

.mpagination {
  text-align: center;
  font-size: 18px;
}

a > i {
  vertical-align: bottom !important;
  padding-bottom: 2px;
}

#content_columns {
  padding-top: 60px;
}

/* Sidebar */
#content_columns > :first-child {
  height: 20px;
}

.content { padding: 0 0 20px 20px; }

blockquote {
  font-style: italic;
  width: 100%;
}
