#book_title {
  margin-left: 20px;
  text-align: center;
}

#book_title > h2 {
  padding: 0px;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 2px;
}

body {
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: 60px;
}

.nano { height: 500px; }
.nano .content { padding: 20px; }
.nano .pane { background: #ddd; }
.nano .pane .slider { background: #555; }
