section:nth-child(odd) {
  background-color: #fafafa;
}

section:nth-child(even) {
  background-color: #333;
}

section:nth-child(even) h3 {
  color: #fafafa;
}

section:nth-child(even) p {
  color: #fafafa;
}
