/* Text styles */
body {
  font-family: 'Della Respira', Garamond, sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 20px;
}

p {
  padding: 0 20px 15px 0;
  font-family: 'Della Respira', Garamond, sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 2.7px;
  text-align: justify;
  text-indent: 30px;
}

h2 {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
}

h3 {
  font-size: 18px;
  padding: 8px 0;
  letter-spacing: 3px;
}

.note {
  border: 1px solid #08c;
  margin: 15px 50px 15px 30px;
  padding: 15px;
}

ul {
  list-style: circle;
  padding-left: 10px;
}

ol {
  padding-left: 15px;
}

li {
  padding: 5px 0px;
}

.mpagination {
  text-align: center;
  font-size: 18px;
}

a > i {
  vertical-align: bottom !important;
  padding-bottom: 2px;
}

blockquote {
  font-style: italic;
  width: 100%;
}

/* Layout */
#content_columns {
  padding: 60px 80px 60px 380px;
}

#book_title {
  text-align: center;
  position: fixed;
  z-index: -1;

  top: 60px;
  left: 50px;
  width: 240px;
}

.nav-collapse.in {
  background: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

/* Tablet portrait */
@media (max-width: 767px) {
  #content_columns {
    padding: 20px;
    padding-top: 0;
  }

  #book_title {
    position: static;
    margin: 20px auto;
  }
}


/* Book title */

#book_title > h2 {
  padding: 0px;
}

#book_title .author a {
  color: #111;
}

ul#contact_list {
  list-style: none;
}

ul#contact_list ul {
  list-style: none;
}

.profile_image {
  float: left;
  margin: 0 15px 5px 0;
}
