<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Della+Respira' rel='stylesheet' type='text/css'>
  <script src="../javascripts/jquery-1.7.2.min.js" ></script>
  <script src="../javascripts/bootstrap.min.js" ></script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li>
              <a href="./home.html">
                <i class="icon-home"></i>
                Home
              </a>
            </li>
            <li>
              <a href="./author.html">
                <i class="icon-user"></i>
                Author
              </a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="icon-th-list"></i>
                Table of Contents
              </a>
              <ul class="dropdown-menu">
                <li><a href="./chapter1.html">Introduction</a></li>
                <li><a href="./chapter2.html">The First Three Steps</a></li>
                <li><a href="./chapter3.html">Compass &amp; Rudder towards Well Being</a></li>
                <li><a href="./chapter4.html">Experiencing Chi Habits</a></li>
                <li><a href="./chapter5.html">Two Habits to Focus on</a></li>
                <li><a href="./chapter6.html">Setting Time Commitment Goal</a></li>
                <li><a href="./chapter7.html">Journal and Worksheet</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="icon-heart"></i>
                Donate
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="content_columns" class="row">
    <div class="span3">
      <div id="book_title">
        <img src="../images/logo.png" width="270px" />
        <h3>Tai Chi within<br>Everyday Activities</h3>
        <div class="author">
          <a href="./author.html">Ed Sevilla</a>
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>
