<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Author</a></li>
            <li><a href="#">Table of Contents</a></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="span4">
    <img src="../images/logo.jpeg" />
    <div id="book_title">
      <h2>Tai Chi within<br>Everyday Activities</h2>
      <span class="subtitle">the 21-day chi habits</span>
    </div>
  </div>
  <div class="span6">
    {{ content }}
  </div>
  <div class="span2"></div>
</div>

</body>
</html>
