<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="../css/nanoscroller.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Della+Respira' rel='stylesheet' type='text/css'>
  <script src="../javascripts/jquery-1.7.2.min.js" ></script>
  <script src="../javascripts/jquery.nanoscroller.min.js" ></script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li>
              <a href="#">
                <i class="icon-home"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-user"></i>
                Author
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-th-list"></i>
                Table of Contents
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-heart"></i>
                Donate
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <img src="../images/logo.jpeg" />
      <div id="book_title">
        <h3>Tai Chi within<br>Everyday Activities</h3>
        <span class="subtitle">the 21-day chi habits</span>
      </div>
    </div>
    <div class="span8">
      <div id="nano_scroll" class="nano">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#nano_scroll.nano').nanoScroller();
    });
  </script>

</body>
</html>
